

p {align-items: center;text-align: center;
font-family: 'Roboto Slab', serif;
color: #757575}

.timelinetext{align-items: flex-start;}


h1 {text-align: center;
font-family: 'Montserrat', sans-serif;}

h2 {text-align: center;
  font-family: 'Montserrat', sans-serif;
}

}
h3 {text-align: center;
  font-family: 'Montserrat', sans-serif; font-size: 22px
}

.herotext {
  text-align: center;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 46px;
  color:white}

  .herotextalt{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  color:white
  }




body{width: 100%}

main{
  right: auto;
  left: auto;
  align-items: center;

}


header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.headerindex{
        display: flex;
        flex-direction: column;
        background-image: url(https://fit-front-end-course.s3.amazonaws.com/header-bg.jpg);
        background-position: center;
        justify-content: space-between;
        height: 800px;
        }


nav {
    justify-content: space-between;
    display:flex;
    width: 75%;
    }

footer {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      }




ul{display: flex;
flex-direction: row;
align-items: center;
margin-right: 6%;
font-family: 'Montserrat',
sans-serif;
font-size: 16px
color: #f8f9fa}



li{color:white;
      padding-right: 5%;
      list-style-type:none;
  }




  section{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.sectionindex{

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;

}






div {
    align-items: center;
  }

.contactdiv{
    display: flex;
    align-items: center;
    flex-direction: column;


  }


.roundpic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: .5em
    }

.timelinediv {
    width:250px;

}

.timelineleft{
    border-left: 6px solid #e0e0e0;
    height: 100px;
}
.timelineright{
    border-right: 6px solid #e0e0e0;
    height: 100px;
}



.timelinemain{

justify-content: center;
display: flex;
flex-wrap: wrap;
text-align: center;
left: auto;
right: auto;


}

.contactbg{background-image: url(https://fit-front-end-course.s3.amazonaws.com/map-image.png);}


button {display: block;
  margin-left: auto;
  margin-right:auto;
  background-color: #fed136;
  border: none;
  height:60px;
  width: 190px;
  border-radius: 10px;
  }


.buttonround {
  display: block;
  margin-left: auto;
  margin-right:auto;
  background-color: #fed136;
  border: none;
  height:200px;
  width: 200px;
  border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: .5em}

  .buttontextround {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif; color:white;
  font-size: 24px;}

  .buttontext {text-align: center;
    font-family: 'Montserrat', sans-serif; color:white;
  font-size: 16px;}

  input{width:300px;
}


.portfoliosection{

flex-wrap: wrap;
justify-content: center;
text-align: center;

}
